button{
  outline: none;
  /* padding: 1rem 1rem 1rem 1rem; */
  /* border-radius: 10px; */
  border: 1px solid white;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 1%;
  
}
.btn{
    color: white;
}
body{
    text-align: center;
}
.formDiv{
  
}